<p id="notice"><%= notice %></p>

<h1>Course search system</h1>
<%= form_tag topics_path, method:"get" do %>
course<%=text_field_tag :course%>
teacher<%=text_field_tag :teacher%>
time<%=text_field_tag :time%>
<%=submit_tag "search"%>
<%end%>


<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Teacher</th>
      <th>Site</th>
      <th>Time</th>
      <th>Credit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.course %></td>
        <td><%= topic.teacher %></td>
        <td><%= topic.site %></td>
        <td><%= topic.time %></td>
        <td><%= topic.credit %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_topic_path %>
